<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>
        <!--<fastCgi>
            <application fullPath="C:\Program Files\IIS Express\PHP\v7.0\php-cgi.exe" arguments="" maxInstances="4" idleTimeout="300" activityTimeout="30" requestTimeout="90" instanceMaxRequests="200" protocol="NamedPipe" queueLength="1000" flushNamedPipe="false"
                rapidFailsPerMinute="10">
                <environmentVariables>
                </environmentVariables>
            </application>
        </fastCgi>
        <handlers accessPolicy="Read, Script">
            <add name="PHP-FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\IIS Express\PHP\v7.0\php-cgi.exe" />
        </handlers>-->
        <httpErrors errorMode="Detailed" />
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <!--<rule name="imagensJPEG" stopProcessing="true">
                    <match url="^img/([a-zA-Z0-9/_-]+/[a-zA-Z0-9_-])+[0-9]{0,6}([0-9])([a-z0-9-]+)?n([0-9]+)(q[0-9]{1,3})?(l[0-9]+)?(f[0-9]+)?(i[01])?(ver[0-9]{0,6})?.jpe?g$" />
                    <action type="Rewrite" url="img/index.php?a={R:1}&amp;p={R:2}&amp;t={R:3}&amp;n={R:4}&amp;q={R:5}&amp;l={R:6}&amp;f={R:7}&amp;i={R:8}" />
                </rule>-->
                <rule name="pqtZendFramework 1" stopProcessing="true">
                    <match url="^.*$" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" pattern="" ignoreCase="false" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" pattern="" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="pqtZendFramework 2" stopProcessing="true">
                    <match url="^.*$" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>